.search-results {
  grid-area: list;
}

.preview__link {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.preview__fig {
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  height: 4rem;
  width: 4rem;
  margin-right: 0.5rem;
  position: relative;
  backface-visibility: hidden;
}

.preview__fig img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.preview__fig::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    var(--grad-mode),
    var(--color-grad-1-2),
    var(--color-grad-2-2)
  );
  opacity: 0.4;
}

.preview__title {
  color: var(--color-primary-2);
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
  max-width: 23ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.preview__publisher {
  color: inherit;
  font-weight: 600;
  font-size: 0.7rem;
  text-transform: uppercase;
}

.pagination {
  display: flex;
  justify-content: space-around;
}

.btn--inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  color: var(--text--color);
}

.btn--inline svg {
  margin: 3px;
}

.preview a {
  cursor: pointer;
}

.no-recipe-container p {
  text-align: center;
}
